# Cleaned Sales Preview

Quick validation notebook for the `data/processed/synosales_cleaned.parquet` output. Once the structure is confirmed, lift the aggregation logic into a production module under `src/` as part of the export-to-module plan.

In [1]:
from pathlib import Path

import pandas as pd

In [2]:
project_root = Path().resolve()
if project_root.name == "notebook":
    project_root = project_root.parent

data_path = project_root / "data/processed/synosales_cleaned.parquet"
df_cleaned = pd.read_parquet(data_path)
df_cleaned.head()

,PI,Customer,ItemCode,Product,Currency,Price,Quantity,Discount,T/T Discount,Total,...,source_sheet,Type,sub_cat,exchange_rate_to_usd,usd_adjusted_price,usd_adjusted_total,Year,Capacity,Unit,total_cap
0,2364503.0,C2,None,C2 Storage Advanced,EUR,104.69,1,0.0,0.0,104.69,...,2023-C2,C2-HYBRID,C2-STORAGE-UNKNOWN-ADVANCED,1.05,109.9245,109.9245,2023,NaN,None,0
1,2364504.0,C2,None,C2 Storage Basic,EUR,35.33,1,0.0,0.0,35.33,...,2023-C2,C2-HYBRID,C2-STORAGE-UNKNOWN-BASIC,1.05,37.0965,37.0965,2023,NaN,None,0
2,2364505.0,C2,None,C2 Storage Basic,USD,1.96,1,0.0,0.0,1.96,...,2023-C2,C2-HYBRID,C2-STORAGE-UNKNOWN-BASIC,1.00,1.9600,1.9600,2023,NaN,None,0
3,2364506.0,C2,None,Active Insight Premium Early Bird,EUR,12.53,1,0.0,0.0,12.53,...,2023-C2,C2-HYBRID,Other,1.05,13.1565,13.1565,2023,NaN,None,0
4,2364507.0,C2,None,C2 Storage Advanced,EUR,1246.98,1,0.0,0.0,1246.98,...,2023-C2,C2-HYBRID,C2-STORAGE-UNKNOWN-ADVANCED,1.05,1309.3290,1309.3290,2023,NaN,None,0

In [3]:
df_cleaned.columns.tolist()

['PI',
 'Customer',
 'ItemCode',
 'Product',
 'Currency',
 'Price',
 'Quantity',
 'Discount',
 'T/T Discount',
 'Total',
 'ShipDate',
 'InvDate',
 'DeliveryFrom',
 'Destination',
 'Comments',
 'Country',
 'ShipTo',
 'source_sheet',
 'Type',
 'sub_cat',
 'exchange_rate_to_usd',
 'usd_adjusted_price',
 'usd_adjusted_total',
 'Year',
 'Capacity',
 'Unit',
 'total_cap']

In [4]:
df_cleaned.describe(include='all')

,PI,Customer,ItemCode,Product,Currency,Price,Quantity,Discount,T/T Discount,Total,...,source_sheet,Type,sub_cat,exchange_rate_to_usd,usd_adjusted_price,usd_adjusted_total,Year,Capacity,Unit,total_cap
count,2.057050e+05,205708,174798,205708,205259,2.057080e+05,205708.000000,205708.000000,205708.000000,2.057080e+05,...,205708,205708,205708,192355.000000,1.923550e+05,1.923550e+05,205708.000000,30794.000000,30794,2.057080e+05
unique,NaN,197,2531,1609,6,NaN,NaN,NaN,NaN,NaN,...,4,10,61,NaN,NaN,NaN,NaN,NaN,1,NaN
top,NaN,C2,13-08RKS2202,C2 Storage Advanced,EUR,NaN,NaN,NaN,NaN,NaN,...,2024,SERVER,Other,NaN,NaN,NaN,NaN,NaN,GB,NaN
freq,NaN,30910,4820,6660,107644,NaN,NaN,NaN,NaN,NaN,...,91386,78389,31451,NaN,NaN,NaN,NaN,NaN,30794,NaN
mean,6.085973e+05,NaN,NaN,NaN,NaN,2.028878e+03,31.515469,0.009982,0.553372,1.776185e+04,...,NaN,NaN,NaN,1.024808,8.290111e+02,6.992862e+03,2023.520515,7010.469377,NaN,5.641448e+04
std,7.484590e+05,NaN,NaN,NaN,NaN,3.381188e+04,426.518178,0.266056,1.045254,1.118395e+05,...,NaN,NaN,NaN,0.045569,7.327454e+03,2.552006e+04,0.499580,5969.055162,NaN,4.546944e+05
min,2.440700e+05,NaN,NaN,NaN,NaN,0.000000e+00,1.000000,-0.020000,0.000000,0.000000e+00,...,NaN,NaN,NaN,0.006700,1.000000e-02,1.000000e-01,2023.000000,2.000000,NaN,0.000000e+00
25%,2.839240e+05,NaN,NaN,NaN,NaN,1.082400e+02,1.000000,0.000000,0.000000,3.680000e+02,...,NaN,NaN,NaN,1.000000,1.026900e+02,3.200303e+02,2023.000000,960.000000,NaN,0.000000e+00
50%,2.987940e+05,NaN,NaN,NaN,NaN,2.640000e+02,4.000000,0.000000,0.000000,1.867205e+03,...,NaN,NaN,NaN,1.050000,2.575965e+02,1.689208e+03,2024.000000,6000.000000,NaN,0.000000e+00
75%,3.124140e+05,NaN,NaN,NaN,NaN,8.357100e+02,16.000000,0.000000,1.000000,6.184250e+03,...,NaN,NaN,NaN,1.050000,6.176520e+02,5.320000e+03,2024.000000,12000.000000,NaN,0.000000e+00
max,2.491341e+06,NaN,NaN,NaN,NaN,1.000000e+07,67055.000000,20.000000,4.000000,1.000000e+07,...,NaN,NaN,NaN,1.050000,1.461371e+06,1.461371e+06,2024.000000,20000.000000,NaN,3.636000e+07

In [7]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205708 entries, 0 to 205707
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   PI                    205705 non-null  float64
 1   Customer              205708 non-null  object
 2   ItemCode              174798 non-null  object
 3   Product               205708 non-null  object
 4   Currency              205259 non-null  object
 5   Price                 205708 non-null  float64
 6   Quantity              205708 non-null  int64
 7   Discount              205708 non-null  float64
 8   T/T Discount          205708 non-null  float64
 9   Total                 205708 non-null  float64
 10  ShipDate              205708 non-null  object
 11  InvDate               205708 non-null  object
 12  DeliveryFrom          205708 non-null  object
 13  Destination           205657 non-null  object
 14  Comments              5156 non-null    object
 15  Country               205660 non-null  object
 16  ShipTo                174038 non-null  object
 17  source_sheet          205708 non-null  object
 18  Type                  205708 non-null  object
 19  sub_cat               205708 non-null  object
 20  exchange_rate_to_usd  192355 non-null  float64
 21  usd_adjusted_price    192355 non-null  float64
 22  usd_adjusted_total    192355 non-null  float64
 23  Year                  205708 non-null  int32
 24  Capacity              30794 non-null   float64
 25  Unit                  30794 non-null   object
 26  total_cap             205708 non-null  int64
dtypes: float64(9), int32(1), int64(2), object(15)
memory usage: 41.6+ MB