In [5]:
import os
import pandas as pd
import numpy as np

In [2]:
df_2023_c2 = pd.DataFrame(pd.read_csv('~/Git Repository/syno_prediction/data/processed/2023_c2.csv'))
df_2023 = pd.DataFrame(pd.read_csv('~/Git Repository/syno_prediction/data/processed/2023.csv'))
df_2024_c2 = pd.DataFrame(pd.read_csv('~/Git Repository/syno_prediction/data/processed/2024_c2.csv'))
df_2024 = pd.DataFrame(pd.read_csv('~/Git Repository/syno_prediction/data/processed/2024.csv'))
df_sales_2023 = pd.DataFrame(pd.read_csv('~/Git Repository/syno_prediction/data/processed/im_sales_history_2023.csv'))
df_sales_2024 = pd.DataFrame(pd.read_csv('~/Git Repository/syno_prediction/data/processed/im_sales_history_2024.csv'))
df_tdbs_2023 = pd.DataFrame(pd.read_csv('~/Git Repository/syno_prediction/data/processed/tdbs_sales_history_2023.csv'))
df_tdbs_2024 = pd.DataFrame(pd.read_csv('~/Git Repository/syno_prediction/data/processed/tdbs_sales_history_2024.csv'))

In [7]:
df_2023_c2.head(10)

,PI,Customer,ItemCode,Product,Currency,Price,Quantity,Discount,T/T Discount,Total,ShipDate,InvDate,DeliveryFrom,Destination,Comments,Country,ShipTo
0,2364503,C2,NaN,(EU) C2 Storage Advanced,EUR,104.69,1,0,0,104.69,2023-01-01,2023-01-01,EU,Andorra,NaN,Andorra,NaN
1,2364504,C2,NaN,(EU) C2 Storage Basic,EUR,35.33,1,0,0,35.33,2023-01-01,2023-01-01,EU,Andorra,NaN,Andorra,NaN
2,2364505,C2,NaN,(US) C2 Storage Basic,USD,1.96,1,0,0,1.96,2023-01-01,2023-01-01,US,Andorra,NaN,Andorra,NaN
3,2364506,C2,NaN,(EU) Active Insight Premium Early Bird,EUR,12.53,1,0,0,12.53,2023-01-01,2023-01-01,EU,United Arab Emirates,NaN,United Arab Emirates,NaN
4,2364507,C2,NaN,(EU) C2 Storage Advanced,EUR,1246.98,1,0,0,1246.98,2023-01-01,2023-01-01,EU,United Arab Emirates,NaN,United Arab Emirates,NaN
5,2364508,C2,NaN,(EU) C2 Storage Basic,EUR,66.24,1,0,0,66.24,2023-01-01,2023-01-01,EU,United Arab Emirates,NaN,United Arab Emirates,NaN
6,2364509,C2,NaN,(EU) C2 Backup Business,EUR,46.95,1,0,0,46.95,2023-01-01,2023-01-01,EU,United Arab Emirates,NaN,United Arab Emirates,NaN
7,2364510,C2,NaN,(APAC) C2 Storage Advanced,USD,945.72,1,0,0,945.72,2023-01-01,2023-01-01,APAC,United Arab Emirates,NaN,United Arab Emirates,NaN
8,2364511,C2,NaN,(APAC) C2 Storage Basic,USD,2.11,1,0,0,2.11,2023-01-01,2023-01-01,APAC,United Arab Emirates,NaN,United Arab Emirates,NaN
9,2364512,C2,NaN,(US) C2 Storage Advanced,USD,848.30,1,0,0,848.30,2023-01-01,2023-01-01,US,United Arab Emirates,NaN,United Arab Emirates,NaN

In [8]:
df_2023.head(10)

,PI,Customer,ItemCode,Product,Currency,Price,Quantity,Discount,T/T Discount,Total,ShipDate,InvDate,DeliveryFrom,Destination,Comments,Country,ShipTo
0,264849.0,HORNINGTON,90-D923P0231,DS923+,USD,512.0,200,0.0,1.0,101376.00,2023-01-03,2023-01-03,日昭成品倉,Hong Kong,NaN,Hong Kong,HORNINGTON COMPUTERS COMPANY
1,268437.0,HORNINGTON,90-R368S0231,RS3618xs,USD,2680.0,2,0.0,1.0,5306.40,2023-01-03,2023-01-03,日昭成品倉,Hong Kong,NaN,Hong Kong,HORNINGTON COMPUTERS COMPANY
2,268437.0,HORNINGTON,89-TG22T1001,E10G22-T1-Mini,USD,120.0,10,0.0,1.0,1188.00,2023-01-03,2023-01-03,台強成品倉,Hong Kong,NaN,Hong Kong,HORNINGTON COMPUTERS COMPANY
3,268753.0,HORNINGTON,13-08RKS2202,RKS-02,USD,62.0,20,0.0,1.0,1227.60,2023-01-03,2023-01-03,日昭包材倉,Hong Kong,NaN,Hong Kong,HORNINGTON COMPUTERS COMPANY
4,268753.0,HORNINGTON,89-TG18T1001,E10G18-T1,USD,107.0,10,0.0,1.0,1059.30,2023-01-03,2023-01-03,日昭成品倉,Hong Kong,NaN,Hong Kong,HORNINGTON COMPUTERS COMPANY
5,268753.0,HORNINGTON,89-TG21F2001,E10G21-F2,USD,225.0,2,0.0,1.0,445.50,2023-01-03,2023-01-03,日昭成品倉,Hong Kong,NaN,Hong Kong,HORNINGTON COMPUTERS COMPANY
6,268753.0,HORNINGTON,89-M2D200010,M2D20 Adapter Card,USD,145.0,2,0.0,1.0,287.10,2023-01-03,2023-01-03,台強成品倉,Hong Kong,NaN,Hong Kong,HORNINGTON COMPUTERS COMPANY
7,268753.0,HORNINGTON,90-D1621X231,DS1621xs+,USD,1320.0,2,0.0,1.0,2613.60,2023-01-03,2023-01-03,台強成品倉,Hong Kong,NaN,Hong Kong,HORNINGTON COMPUTERS COMPANY
8,268753.0,HORNINGTON,90-D2422P231,DS2422+,USD,1607.0,2,0.0,1.0,3181.86,2023-01-03,2023-01-03,日昭成品倉,Hong Kong,NaN,Hong Kong,HORNINGTON COMPUTERS COMPANY
9,268753.0,HORNINGTON,89-LPDLPX105,DEVICE LICENSE (X 1),USD,41.0,5,0.0,1.0,202.95,2023-01-03,2023-01-03,日昭成品倉,Hong Kong,NaN,Hong Kong,HORNINGTON COMPUTERS COMPANY

In [9]:
df_sales_2023.head(10)

  InterCoCC          Product   Month Currency  Received Qty   Total
0        BE    D4EC-2666-16G  2023/1      EUR             1  312.82
1        BE    D4EC-2666-16G  2023/1      EUR             1  312.82
2        BE    D4EC-2666-16G  2023/1      EUR             1  312.82
3        BE     D4EC-2666-8G  2023/1      EUR             1  152.30
4        BE  D4ECSO-2666-16G  2023/1      EUR             1  282.72
5        BE       D4ES01-16G  2023/1      EUR             3  848.16
6        BE        D4ES01-8G  2023/1      EUR             1  145.92
7        BE        D4ES01-8G  2023/1      EUR             3  437.76
8        BE        D4ES02-4G  2023/1      EUR             1   63.84
9        BE        D4ES02-4G  2023/1      EUR             1   63.84

In [10]:
df_tdbs_2023.head(10)

  InterCoCC         Product   Month Currency  Received Qty   Total
0        NL  ADAPTER 100W_2  2023/1      EUR             1   39.52
1        NL    D3NS1866L-4G  2023/1      EUR             1   56.54
2        NL    D3NS1866L-4G  2023/1      EUR             1   56.54
3        NL   D4EC-2666-16G  2023/1      EUR             2  625.64
4        NL   D4EC-2666-16G  2023/1      EUR             1  312.82
5        NL   D4EC-2666-16G  2023/1      EUR             1  312.82
6        NL   D4EC-2666-16G  2023/1      EUR             1  312.82
7        NL   D4EC-2666-16G  2023/1      EUR             1  312.82
8        NL    D4EC-2666-8G  2023/1      EUR             2  304.60
9        NL    D4EC-2666-8G  2023/1      EUR             1  152.30